DB_HOST=localhost
DB_PORT=mysql_port
DB_USER=mysql_user
DB_PASS=mysql_password
DB_NAME=mysql_database
MYSQL_ROOT_PASSWORD=mysql_root_password
SESSION_SECRET=generate_a_secure_random_string_here

PORT=8081
NODE_ENV=development

VITE_SERVER_URL=https://localhost:8081